body {
    background: #c36158;
}
h1#title {
    text-align: center;
}
p.intro {
      font-family: fantasy;
}
p {
    width: 800px;
    text-align: center;
    margin: auto;
    padding: 10px 0px;
}
img {
    display: block;
    margin: 0 auto;
}